{% extends 'base.html' %}
{% block body %}

{% with user_profile.followers.all as followers %}
  <a href="{% url 'accounts:follow' user_profile.pk %}">
      {% if user in followers %} 
      팔로우취소
      {% else %}
      팔로우
      {% endif %}
  </a>
  <h2> 팔로우 : {{ user_profile.followings.all.count }} </h2>
  <h2> 팔로워 : {{ followers|length }}</h2>
{% endwith %}

<p>내가 작성한 평점 정보 </p>
{% for review in user_profile.review_set.all %}
  <p>영화 : {{review.movie.title}} <br> 내용 : {{review.content}} <br> 평점 : {{ review.score }}</p>

{% endfor %}
<hr>
<p>내가 좋아하는 영화 </p>
{% for like in user_profile.like_movies.all %}
   {{like.title}}<br>

{% endfor %}
{% endblock %} 
